
.maincontainer{
    width: 1250px;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: 261px;
    margin-top: 30px;
    border:1px solid rgba(31, 31, 31, 0.2);
    border-radius: 8px 8px 0px 0px;

}
.container{
width: 1250px;
}
button {
  border: 0ch;
  background-color: whitesmoke;
  color: #005695;
}